environment:
  matrix:
    -
      PY: C:\Python27\python.exe
      SCONS: SCons==3.0.1
    -
      PY: C:\Python27\python.exe

    - 
      PY: C:\Python27-x64\python.exe
      SCONS: SCons==3.0.1
    -
      PY: C:\Python27-x64\python.exe

    - 
      PY: C:\Python35\python.exe
      SCONS: SCons==3.0.1
    -
      PY: C:\Python35\python.exe

    -
      PY: C:\Python35-x64\python.exe
      SCONS: SCons==3.0.1
    -
      PY: C:\Python35-x64\python.exe

    -
      PY: C:\Python36\python.exe
      SCONS: SCons==3.0.1
    -
      PY: C:\Python36\python.exe

    -
      PY: C:\Python36-x64\python.exe
      SCONS: SCons==3.0.1
    - 
      PY: C:\Python36-x64\python.exe

    -
      PY: C:\Python37\python.exe
      SCONS: SCons==3.0.1
    -
      PY: C:\Python37\python.exe

    -
      PY: C:\Python37-x64\python.exe
      SCONS: SCons==3.0.1
    -
      PY: C:\Python37-x64\python.exe

build: off

install:
  - cmd: |
        %PY% -m pip install -U pip setuptools six wheel
        %PY% -m pip install -U -e .
        rem %PY% -m pip install -U tox

test_script:
  - cmd: |
        if defined SCONS (
            %PY% -m pip install %SCONS%
        )

  - ps: |
        & $env:PY -c @"
        import os

        import zcons

        import SCons

        assert zcons.SCONS.version == SCons.__version__

        SCONS = os.environ.get('SCONS')
        if not SCONS:
            assert (
                __import__('zetup.version').version.Version(
                    SCons.__version__
                ) >= '3.0.3')

        else:
            assert SCONS == 'SCons==3.0.1'
            assert (
                __import__('zetup.version').version.Version(
                    SCons.__version__
                ) == '3.0.1')
        "@

  - cmd: |
        rem %PY% -m tox -r -v

  - cmd: |
        %PY% -m pip uninstall --yes zcons
        %PY% -m pip install zetup[all]
        %PY% -m zetup install
        rem %PY% -m zetup pytest
        %PY% -m zetup sdist
        rem %PY% -m zetup tox
